.dashboard-container{

padding:40px;
color:white;

}

.dashboard-title{

font-size:28px;
margin-bottom:30px;

}

.card-container{

display:flex;
gap:20px;
flex-wrap:wrap;

}

.dashboard-card{

background:#111827;
padding:25px;
border-radius:12px;
width:220px;

box-shadow:0 0 20px rgba(0,0,0,0.5);

transition:0.3s;

}

.dashboard-card:hover{

transform:scale(1.05);

}

.card-title{

font-size:16px;
opacity:0.7;

}

.card-value{

font-size:26px;
font-weight:bold;
margin-top:10px;

}